.btn-1 {
border: none;
color: white;               
background-color: #4CAF50;
padding: 10px 20px;
cursor: pointer;
border: 2px solid yellow;     
-moz-border-radius: 16px;
-webkit-border-radius: 16px;
border-radius: 16px;
}






.btn-1:hover {
border: none;
color: white;               
background-color: blue;
padding: 10px 20px;
cursor: pointer;
border: 2px solid yellow;     
-moz-border-radius: 16px;
-webkit-border-radius: 16px;
border-radius: 16px;
}






/* SATINAL MENÜSÜ TUŞ KODLARI */


.btn-2 {
width: 140px;
height: 70px;
border: none;
color: rgb(255, 255, 255);            /* YAZI RENGİ   */
background-color: #ff0000;            /* BUTON SABİT RENK */
cursor: pointer;
border: 2px solid #4CAF50;
-moz-border-radius: 16%;
-webkit-border-radius: 16%;
border-radius: 16%;
}

.btn-2:hover {
color: rgb(0, 0, 0);                         /* YAZI RENGİ */
background-color: rgb(0, 243, 32);       /*DEĞİŞEN RENK*/
border: 2px solid #ff0f0f;                 /*KEENARLIK RENGİ*/
}
